<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="assets/angular-material.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.min.js"></script>

    <script src="assets/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

    <!-- Angular Material Library -->
    <script src="assets/angular-material.min.js"></script>
    <script src="assets/angular-debounce.min.js"></script>
    <script src="assets/require.js"></script>

    <script src="popup.mp3"></script>

</head>
<body ng-controller="myCtrl">

<div class="container">
    <div class="row">


        <div class="col-md-12">
            <div>
                <p>Email: {{auth.email}}</p>
                <p>Display name: {{auth.displayName}}</p>

            </div>

            <div ng-show="!auth">
                <input type="text" class="form-control" ng-model="displayName" placeholder="Display name">
                <input type="text" class="form-control" ng-model="email" placeholder="Email">
                <input type="text" class="form-control" ng-model="password" placeholder="Password">
            </div>

            <md-button class="md-raised" md-colors="{background: 'purple'}" ng-click="createUser()">
                Create user
            </md-button>
            <md-button class="md-raised" md-colors="{background: 'purple'}" ng-click="updateProfile()">
                Update profile
            </md-button>
            <md-button class="md-raised" md-colors="{background: 'purple'}" ng-click="signIn()">
                Sign in
            </md-button>
            <md-button class="md-raised" md-colors="{background: 'purple'}" ng-click="signOut()">
                Sign out
            </md-button>
        </div>

        <div class="col-md-12">
            <h1 style="text-transform: uppercase;text-align: center"><strong>Ranking Admin</strong></h1>
        </div>

        <div class="col-md-12">

            <div style="background: white; border-radius: 3px; box-shadow: 0 10px 15px #888; padding: 15px">

                <div class="row">
                    <div class="col-md-8">
                        <textarea class="form-control" rows="5" placeholder="https://www.facebook.com/... &#10;https://www.facebook.com/... &#10;https://www.facebook.com/... &#10;..." ng-model="userLinks"></textarea>
                    </div>
                    <div class="col-md-4">
                        <md-button class="md-raised" md-colors="{background: 'purple'}" ng-click="addUser()">
                            <md-icon style="color: white">add</md-icon>
                            <md-tooltip>Add user link</md-tooltip>
                        </md-button>
                    </div>
                </div>
                <br>
                <br>

                <div class="row">
                    <div class="col-md-8">
                        <h3>User to Scan</h3>
                    </div>
                    <div class="col-md-4">
                        <md-button class="pull-right md-raised" ng-if="isIndeterminate() || isChecked()" md-colors="{background: 'pink'}" ng-click="deleteAll()">Delete all</md-button>
                        <md-button class="pull-right md-raised" ng-if="isIndeterminate() || isChecked()" md-colors="{background: 'purple'}" ng-click="scanUser(selected)">Scan all</md-button>
                    </div>
                </div>


                <table class="table table-bordered table-hover .table-condensed" style="border: 1px solid #ccc">
                    <thead>
                    <tr>
                        <th>
                            <md-checkbox aria-label="Select All" ng-checked="isChecked()" md-indeterminate="isIndeterminate()" ng-click="toggleAll()" style="margin-bottom: 0">
                                <span ng-if="isChecked()">Un-</span>Select All
                            </md-checkbox>
                        </th>
                        <th data-field="link">Link</th>
                        <th data-field="userId">User ID</th>
                        <th data-field="userId">Scaned</th>
                        <th data-field="action">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in userToScan | orderBy: '-scaned'">
                        <td>
                            <md-checkbox ng-checked="exists(item.$id, selected)" ng-click="toggle(item.$id, selected)">
                                {{item.displayName}}
                            </md-checkbox>
                        </td>
                        <td>
                            <a href="https://www.facebook.com/{{item.username}}" target="_blank">https://www.facebook.com/{{item.username}}</a>
                        </td>
                        <td>{{item.$id}}</td>
                        <td>
                            <i class="material-icons" ng-if="item.scaned">done</i>
                        </td>
                        <td>
                            <md-button class="md-raised" md-colors="{background: 'purple'}" ng-click="scanUser([item.$id])">
                                <md-icon style="color: white">{{item.scaned?'find_replace':'find_in_page'}}</md-icon>
                                <md-tooltip>{{item.scaned?'ReScan':'Scan now'}}</md-tooltip>
                            </md-button>
                            <md-button class="md-raised" md-colors="{background: 'pink'}" ng-click="deleteUser(item)">
                                <md-icon style="color: white">delete</md-icon>
                                <md-tooltip>Delete User</md-tooltip>
                            </md-button>
                        </td>
                        <!--<td ng-repeat="y in item.cookies">{{y.name}}</td>-->
                    </tr>
                    </tbody>

                </table>
            </div>

        </div>


        <div class="col-md-12" style="margin-top: 40px">
            <div style="background: white; border-radius: 3px; box-shadow: 0 10px 15px #888; padding: 15px">
                <h3>Ranked Pages</h3>
                <table class="table table-bordered table-hover .table-condensed" style="border: 1px solid #ccc">
                    <thead>
                    <tr>
                        <th data-field="name">Rank</th>
                        <th data-field="name">Count</th>
                        <th data-field="name">Name</th>
                        <th data-field="userId">Category</th>
                        <th data-field="userId">Likes</th>
                        <th data-field="userId">Link</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in rankedPages | orderBy: '-count' track by $index">
                        <td>{{$index}}</td>
                        <td>{{item.count}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.category}}</td>
                        <td>{{item.likes}}</td>
                        <td>
                            <a href="https://www.facebook.com/{{item.id}}" target="_blank">https://www.facebook.com/{{item.id}}</a>
                        </td>
                        <!--<td ng-repeat="y in item.cookies">{{y.name}}</td>-->
                    </tr>
                    </tbody>

                </table>
                <br>
                <br>
            </div>

        </div>


    </div>
</div>


</body>
</html>